/* maps css */
#map {
    height: 30%;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  } 
body{
    background-color:#659dbd;

}



/* top search button */
.btn-outline-success{
color:white;
background-color:#f64c72;
border-color:#f64c72 ;
}
.btn-outline-success:hover{
    color:white;
background-color:#f64c72;
border-color:#f64c72 ;
}
/* 3 links at the top  */
a{
    color: White;
}

.container{
    /* background-color: #c2cad0 */

}





/* height for all the photos in the text */
/* .card-img-top{
    width: 280px;
    height: 214px;
} */
/* this is the color for the ratings stars  */
.checked {
    color: orange;
}
/* the css for input table that displays the calendar  */
#from{
 /* css 3 */
 border: 2px solid #aaa;
 margin: 8px 0;
 outline: none;
}
#to{
    border: 2px solid #aaa;
    margin: 8px 0;
    outline: none;
/* display: none; */
}










  /* This is the Footer at the bottom */
  footer {
    background-color: rgba(44, 62, 80, 1.0);

    width: 100%;
    bottom: 0;
    font-weight: lighter;
    color: white;
}
.footerHeader{
    width:100%;
    padding:1em;
    background-color:rgba(52, 73, 94,1.0);
    text-align:center;
    color:white;
}
footer h3{
    font-weight:lighter;
}
footer ul{
    padding-left:5px;
    list-style:none;
}
footer p{
    text-align : justify;
    font-size : 12px;
}
footer iframe {
    width:100%;
    position:relative;
    height:170px;
}
.sm{
    list-style:none;
    overflow:auto;
}
.sm li {
    display: inline;
    padding:5px;
    float:left;
} 
.sm li a img {
    width:32px;
}
